.grid{

    font-family:cursive;

    background-color:pink;
font-size: 50px;

}

.item{
    font-family:cursive;
    
    background-color:red;
    font-size: 50px;
      
}
 
.item1{
    font-family:cursive;
    background-color:royalblue;
    font-size: 50px;
      
}

